

.post__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px 40px;
}



.post__card {
  width: 100%;
  margin-bottom: 40px;
  display: grid;
  grid-template-columns: 1fr 68px;
  align-items: center;
  justify-content: center;
  min-height: 90px;
  border: 1px solid #979797;
  border-radius: 6px;
}

.post__list-message {
  text-align: center;
  font-weight: 500;
  font-size: 24px;
}

@media (max-width: 1024px) {
  .post__container {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 480px) {
  .post__container {
    gap: 20px;
  }
}