*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  --azure: #1797ff;
}

* {
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  line-height: 1.5;
  font-family: Roboto;
  -webkit-font-smoothing: antialiased;
}